.bg-main {
    background-color: #28eb48;
}

.phone {
    object-fit: contain;
    width: 100%;
    max-width: 350px;
    height: 700px;
    margin-top: 24px;
    /* margin-right: 100px; */
}

.hero-container {
    height: 600px;
    overflow: visible;
}

.hero-heading {
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 6rem;
}

@media (min-width: 768px) {
    .phone {
        margin-left: 5rem;
    }
}
